@model tp1e18.Models.DataModels.Episode

@{
    ViewBag.Title = "Êtes-vous sûr de vouloir supprimer l'épisode " + Model.EpisodeId;
}

<h3>@ViewBag.Title?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoEpisode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoEpisode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaisonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaisonId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EpisodeId)
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Retour à la liste", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
    </div>
    }
</div>
