@model IEnumerable<tp1e18.Models.DataModels.Episode>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoEpisode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duree)
        </th>
        <th>
            Image
        </th>
        <th>
            No de saison
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoEpisode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duree)
        </td>
        <td>
            <img src="@item.Cover" height=100 width=75 />
        </td>
        <td>
            @item.Saison.NoSaison
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EpisodeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EpisodeId })
        </td>
    </tr>
}

</table>
