@model tp1e18.Models.DataModels.Saison

@{
    ViewBag.Title = "Êtes-vous sûr de vouloir supprimer la saison numéro " + Model.NoSaison + "?"; // Pourquoi le Model.NoSaison est nécessaire pour delete?
}

<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoSaison)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoSaison)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie.Nom)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SaisonId)

        <div class="form-actions">
            <input type="submit" value="Supprimer" class="btn btn-danger" />
            @Html.ActionLink("Retour à la liste", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>
